/* Nutorition browser 2020 core css 0.0.2 (2025/02/16) */

/* tag base */
a {
  text-decoration: none;
}

header {
  margin-bottom: 1em;
  font-size: small;
}

footer {
  position: static;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

nav {
  background-color: white;
}

/*=====================*/
/* index & nav         */
/*=====================*/
.bw_frame{
  position:relative;
  z-index: 0;
}

.nav_button{
  margin-bottom: 0.5em;
  text-align: justify-all;
}

.nav_msg{
  font-size: small;
}

.video{
  background-color: transparent;
  position: fixed;
  top: 0em;
  right: 0.5em;
  margin: 1em;
  border: none;
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  z-index: 99;
}

.browse_window{
  position: relative;
  margin: 0.5em;
  padding: 1em;
  border: none;
  border-radius: 6px;
  font-size: small;
  color: indigo;
  background: aliceblue;
}

.line{
  position: relative;
  text-align: center;
  margin: 0.5em;
  background: lavenderblush;
}

.align_r{
  text-align: right;
}

.align_l{
  text-align: left;
}

.align_c{
  text-align: center;
}

.moe_color{
  background: indigo;
  color: lightpink;
  font-weight: bold;
}

.shun_color{
  background: indigo;
  color: springgreen;;
  font-weight: bold;
}

.master_color{
  background: indigo;
  color: azure;
  font-weight: bold;
}

.guild_color{
  background: indigo;
  font-weight: bold;
}

.code{
  text-align: right;
  color: lavender;
}

.error{
  background: red;
  color: black;
  font-weight: bold;
}

.ref_error{
  background: tomato;
  color: black;
  font-weight: bold;
}

.worning{
  background: yellow;
  color: black;
  font-weight: bold;
}

.sprite{
  background: lime;
  color: black;
  font-weight: bold;
}

.dbq{
  background: palegreen;
  color: black;
}

.notice{
  border: solid gray 1px;
  margin: 0.5em;
  padding: 0.5em;
}

.ppill{
  background: white;
  color: deeppink;
}

.bbg{
  background: white;
  color: darkslateblue;
}

.npill{
  background: orange;
  color: lemonchiffon;
}

.gb{
  background: springgreen;
}
/*=====================*/
/* login & regist      */
/*=====================*/
.login_input{
  margin-bottom: 0.5em;
}

.login_form{
  width: 20em;
}

.terms{
  font-size: small;
}

.msg_small{
  font-size: small;
}

.msg_small_red{
  font-size: small;
  color: red;
}

/*=====================*/
/* 閲覧階層 ＋ 詳細表示 */
/*=====================*/

.fct_value{
  font-size:large;
}

.fct_value_h{
  font-size:large;
  font-weight:bold;
}

.tag1{
  font-size: small;
  color: chocolate;
}

.tag2{
  font-size: small;
  color: darkslategray;
}

.tag3{
  font-size: small;
  color: mediumvioletred;
}

.tag4{
  font-size: small;
  color: olive;
}

.tag5{
  font-size: small;
  color: navy;
}

.tagc{
  font-size: small;
  color:silver;
}

.visited{
  font-weight: 800;
}


/*================*/
/* まな板 ＋ レシピ */
/*================*/

.cb_header{
  font-size: small;
  font-weight: bold;
}

.cb_form{
  margin-bottom: 0.5em;
}

.cb_weight_box{
  width: 50%;
  padding: .25rem;
}

.cb_food_label{
  font-size: medium;
  font-weight: bold;
}

.print_comment{
  color: darkgray;
}

.print_subtitle{
  font-size: medium;
  font-weight: bold;
}

.print_card{
  margin-bottom: 1em;
}

.list_tag{
  font-size: x-small;
}

/*===============*/
/* お膳 ＋ 献立帳 */
/*===============*/

.meal_header{
  font-size: small;
  font-weight: bold;
}

.meal_form{
  margin-bottom: 0.5em;
}

/* 成分計算表 */
/* 成分計算表 項目名 */
.fct_item{
  font-size: x-small;
}

/* 成分計算表 単位 */
.fct_unit{
  color: darkgray;
  font-size: x-small;
}

/* 成分計算表 合計 */
.fct_sum{
  color: tomato;
  font-size: medium;
}

/*===============*/
/* Media         */
/*===============*/
.photo_tns{
  border-radius: 0.4em;
  border:solid 0.2em white;
}

/*===============*/
/* ジョイスティック & */
/*===============*/
.joystic_top{
  border: none;
  border-width: 1px;
  background-color: white;
  border-radius: 6px;
}

.joystic_active{
  border: none;
  border-width: 1px;
  background-color: aquamarine;
  border-radius: 6px;
}

.joystic_rerutn{
  border: none;
  border-width: 1px;
  background-color: white;
  border-radius: 6px;
}

.joystic_koyomi{
  border: none;
  border-width: 1px;
  background-color: white;
  border-radius: 6px;
}



/*===============*/
/* 記憶 */
/*===============*/

.memory_pointer{
  font-weight: bolder;
  font-size: large;
}

.memory_link{
  font-weight: bolder;
  border-bottom: dotted 1px purple;
}

/*===============*/
/* ギルド */
/*===============*/

.weight_chart{
  font-size: x-small;
}


/*===============*/
/* 料理教室 */
/*===============*/

.month{
  font-weight: bolder;
  font-size: 3em;
  color: dimgray;
}


.weekday{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  color: dimgray;
}

.sunday{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  color: crimson;
}

.saturday{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  color: dodgerblue;
}

.weekday_mobi{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  color: dimgray;
  background-color: white;
  border: solid 0.2em dimgray;
}

.sunday_mobi{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  color: crimson;
  background-color: white;
  border: solid 0.2em dimgray;
}

.saturday_mobi{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  color: dodgerblue;
  background-color: white;
  border: solid 0.2em dimgray;
}

.ampm{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  color: dimgray;
}

.day_on{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: lightyellow;
  border: solid 0.2em dimgray;

}

.day_off{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: silver;
  border: solid 0.2em dimgray;
}

.day_off_mobi{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: gainsboro;
  border: solid 0.2em dimgray;
}

.day_out{
  padding: 0.2em;
  font-weight: bolder;
  font-size: 1.5em;
  background-color: white;
  border: solid 0.2em dimgray;
}

.scs_course_mobi{
  padding: 0.5em;
  font-weight: bolder;
  font-size: 1.5em;
  color: dodgerblue;
  background-color: white;
  border: solid 0.2em dimgray;
  border-radius: 1em;
}

.reserve_on{
  border: solid 0.2em hotpink;
}

.scs_menu{
  font-weight: bolder;
  font-size: 2em;
  color: dimgray;
}



